	.box {
		height: 900px;
	}

	.questions {
		height: 100px;
	}

	.creeper {
		height: 400px;
	}

	.minecraft {
		height: 400px;
	}

	.steve {
		height: 400px;
	}

	.victory {
		height: 400px;
	}

	.question1 {
		font-size: 28px;
	}

	.question2 {
		font-size: 28px;
	}

	.question {
		font-size: 28px;
	}

	.victory2 {
		font-size: 28px;
	}

	.anvil {
		height: 400px;
	}

	.boximg1 {
		height: 400px;
	}

	.boximg2 {
		height: 400px;
	}

	.boxvrts {
		height: 250px;
	}

	.variant1 {
		height: 250px;
		background: yellow;
	}

	.variant2 {
		height: 250px;
		background: yellow;
	}

	.variant3 {
		height: 250px;
		background: yellow;
	}

	.variant4 {
		height: 250px;
		background: yellow;
	}

	.variant5 {
		height: 250px;
		background: yellow;
	}

	.variant6 {
		height: 250px;
		background: yellow;
	}

	.variant7 {
		height: 250px;
		background: yellow;
	}

	.variant8 {
		height: 250px;
		background: yellow;
	}

	.variant9 {
		height: 250px;
		background: yellow;
	}

	.victory3 {
		height: 250px;
		background: yellow;
	}

	.quest {
		font-size: 28px;
	}

	.quest0 {
		font-size: 28px;
	}

	.quest01 {
		font-size: 28px;
	}

	.quest1 {
		font-size: 28px;
	}

	.quest2 {
		font-size: 28px;
	}

	.quest3 {
		font-size: 28px;
	}

	.victory4 {
		font-size: 28px;
	}

	.col-35 {
		width: 250px ;
	}

	.ms-45 {
		margin-left: 40px;
	}

	.ms-346 {
		margin-left: 346px;
	}

	.boxvts1 {
		height: 250px;
	}

	.boxvts2 {
		height: 250px;
	}

	.boxvts3 {
		height: 250px;
	}